<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="ad.size" content="width={{data.width}},height={{data.height}}">
    <title></title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script>
      var clickTag = "https://www.google.com";
    </script>
      
    <style>
        #ad {
            position:absolute;
            width: {{data.width}}px;
            height: {{data.height}}px;
            background-color:green;
        }  
      
    </style>
  </head>
    
    
    <body>
        <div id="ad">
            
        </div>
    </body>
    
</html>