<!doctyle html>

<html>
<head>
    <title>banner generator</title>

</head>
<body>
    
    <h1>Banner Generator</h1>
    <h2>Select parameters and click generate.</h2>
    

    
    <form action="" novalidate>
        <p><input type="number" name="width" value="300" width="100"> width</p>
        <p><input type="number" name="height" value="250" size="100"> height</p>
        <p><input type="color" name="bkg_color" value="#888888"> background color</p>
        <p><input type="checkbox" name="border" unchecked> add border</p>
        <p><input type="checkbox" name="clicktag" checked> add clicktag var</p>
        <p><input type="checkbox" name="tweenmax" unchecked> include TweenMax library</p>
        <p>
            <select name="ad_serving">
                <option value="none">None</option>
                <option value="doubleclick">DoubleClick</option>
                <option value="flashtalking">Flashtalking</option>
                <option value="sizmek">Sizmek</option>
            </select> ad serving
        </p>
        <p><input type="submit" value="GENERATE"></p>
    </form>
    
</body>


</html>