<!doctyle html>

<html>
<head>
    <title>banner generator</title>
<!--
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.8.17/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://www.modernizr.com/downloads/modernizr-latest.js"></script>
    <script type="text/javascript" src="static/color-polyfill.js"></script>
-->
</head>
<body>
    
    This is a banner generator app.<br>
    Select parameters and click generate.<br><br>
    
<!--    <p><a href="{{url_for('index', width=300, height=600)}}">GENERATE 300x600</a></p>-->
<!--    <p><a href="{{url_for('index', width=300, height=250)}}">GENERATE 300x250</a></p>-->
    
    <form action="" novalidate>
        <p>
            width: <br><input type="number" name="width" value="300">
        </p>
        <p>
            height: <br><input type="number" name="height" value="250">
        </p>
        <p>
            background color:<br>
            <input type="color" name="bkg_color">
        </p>
        <p>
            <input type="checkbox" name="border" unchecked> add border
        </p>
<!--
        <p>
            ad serving: <br>
            <select name="ad_serving">
                <option value="none">None</option>
                <option value="doubleclick">DoubleClick</option>
                <option value="flashtalking">Flashtalking</option>
            </select>
        </p>
-->
        <p>
            <input type="submit" value="GENERATE">
        </p>
    </form>
    
</body>


</html>